<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Pokedex
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-list>
    <ion-item lines="full" *ngFor="let pokemon of pokemons" (click)="exibirPokemon(pokemon)">

      <ion-thumbnail slot="start">
        <img [src]="pokemon.img">
      </ion-thumbnail>

      <ion-label class="ion-text-wrap">
        <div>
          <p>{{pokemon.nome}}</p>
          <ion-chip *ngFor="let tipo of pokemon.tipos">{{tipo}}</ion-chip>
        </div>
      </ion-label>

      <ion-badge color="danger">{{pokemon.numero}}</ion-badge>
    </ion-item>

  </ion-list>
</ion-content>
