<ion-content [fullscreen]="true" color="danger">
  <div class="center">
    <ion-card color="dark">
      <ion-card-title class="ion-text-center">Pokedex</ion-card-title>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button color="light" (click)="navegar('lista-pokemons')">Pokemons</ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="light">Moves</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button color="light">Itens</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
</ion-content>
