<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Pokedex
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-list>
    <ion-item lines="full">

      <ion-thumbnail slot="start">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/132.png">
      </ion-thumbnail>

      <ion-label class="ion-text-wrap">
        <div>
          <p>Ditto</p>
          <ion-chip>Normal</ion-chip>
        </div>
      </ion-label>

      <ion-badge>214</ion-badge>
    </ion-item>

  </ion-list>
</ion-content>
